html, body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  cursor: crosshair;
  overflow: hidden;
}

body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
